.gamecc {
  & {
    border: 1px solid red;
    height: 30rem;
    width: 30rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__btn {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:default {
      background-color: var(--color-grey-200);
      color: var(--color-grey-950);
    }
    &.selected {
      background-color: #009bff;
      color: var(--color-grey-950);
    }
    &.wrong {
      background-color: red;
      color: var(--color-grey-950);
    }
  }
}
