# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

smallies/node_modules
smallies/dist
smallies/.env
anson/node_modules
anson/dist
anson/.env
jonas/ultimate-react-course
jonas/usepopcorn/node_modules
jonas/usepopcorn/dist
jonas/quisereducer/node_modules
jonas/quisereducer/dist
jonas/worldwise/node_modules
jonas/worldwise/dist
typescript-tutorial/node_modules
typescript-tutorial/dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

