.projects {
  & {
    box-shadow: var(--box-shadow-lg);

    border-radius: var(--border-radius-lg);
    color: var(--color-grey-600);
    min-height: 75rem;
    outline: 0.5rem dotted var(--color-grey-200);
    padding: 3rem;
    max-width: 110rem;

    // display: flex;
    // // align-items: flex-start;
    // justify-content: center;
    // flex-wrap: wrap;
    // column-gap: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
  }

  &__card {
    box-shadow: var(--box-shadow-lg);
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    height: 17rem;
    overflow: hidden;
    outline: 1px solid var(--color-grey-200);
    padding: 0.5rem 0.7rem;
    transition: background-color 0.4s ease-in-out, transform 0.3s ease-in-out,
      box-shadow 0.4s ease-in-out, transform 0.3s ease-in-out;
    width: 20rem;

    &:hover {
      background-color: var(--color-grey-200);

      & h2 {
        color: var(--color-grey-700);
      }
    }
    &:active {
      box-shadow: var(--box-shadow-sm);
      transform: scale(0.9999);
    }

    & h2 {
      text-transform: uppercase;
      text-align: center;
      transition: color 0.4s ease-in-out;
    }

    & p {
      font-size: 1.4rem;
      color: var(--color-grey-600);
    }
  }
}
