/********************************
 * RESET/BASE ************************
*********************************/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
}

body {
  background-color: var(--color-grey-100);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  line-height: 1.5;

  display: flex;
  justify-content: center;
}

// LOADING SPINNER
.spin {
  animation: spinLoader 1s linear infinite;
}

@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// TYPOGRAPHY
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

.heading {
  text-align: center;

  &-1 {
    color: var(--color-grey-800);
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  &-2 {
    color: var(--color-grey-700);
    font-weight: 200;
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }
  &-3 {
    color: var(--color-grey-600);
    font-weight: 300;
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }
}
